body
{
	background-image: url('11');background-repeat:  no-repeat; background-size: 1920px 1080px;
}
h1
{   text-align: center;
	font-family: verdana;
	color:  #00FA9A;
	
	text-shadow: currentColor;
	font-weight: lighter;
	font-size: 200px;
	margin-top: 19%;
}
span
{     text-align: center;
	font-family: verdana;
	color:#FEFEFB  ;
	
	text-shadow: currentColor;
	font-weight: lighter;
	font-size: 200px;
	margin-top: 19%;

}
a
{
	 display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center
};