body
{
	background-image: url('11');background-repeat:  no-repeat; background-size: 1920px 1080px;
}
h1.name1
{   text-align: center;
	font-family: verdana;
	color:  #00FA9A;
	
	text-shadow: currentColor;
	font-weight: lighter;
	font-size: 200px;

}
span
{     text-align: center;
	font-family: verdana;
	color:#FEFEFB  ;
	font-size: 200px;
}


a:link
{    text-align: center;
	font-family: verdana;
	color:  #00FA9A;
	font-size: 20px;
	margin-left: 50%;
	background-color: red;
	
    
	
}
a:hover{
	background-color:green;

	display:block;
	width: 120px;
	



}